<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.my_application">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.screen.portrait" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logot"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logot"
        android:supportsRtl="true"
        android:theme="@style/Theme.My_Application"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.rentservice.my_application.Screens.About_Screen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rentservice.my_application.Screens.Edit_Post"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rentservice.my_application.Screens.Edit_Profile_Screen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rentservice.my_application.Screens.Profile_Pic_Show_Screen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rentservice.my_application.Screens.Profile_Screen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rentservice.my_application.Screens.Image_Preview"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rentservice.my_application.Screens.Check_Terms_Condition_Screen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rentservice.my_application.Screens.Add_PoliceStation_Screen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rentservice.my_application.Screens.FavouriteListScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rentservice.my_application.Screens.MyPostScreen"
            android:exported="false" />
        <activity
            android:name="com.rentservice.my_application.Screens.SinglePostViewScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rentservice.my_application.Screens.Add_District_Screen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rentservice.my_application.Screens.InsertDivisionScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rentservice.my_application.Screens.InsertCategoryScreen"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.rentservice.my_application.Screens.AddPostScreen"
            android:exported="false" android:screenOrientation="portrait"/>
        <activity
            android:name="com.rentservice.my_application.Screens.OtpScreen"
            android:exported="false" android:screenOrientation="portrait"/>
        <activity
            android:name="com.rentservice.my_application.Screens.DashBoardScreen"
            android:exported="false" android:screenOrientation="portrait"/>
        <activity
            android:name="com.rentservice.my_application.Screens.SignInScreen"
            android:exported="false" android:screenOrientation="portrait"/>
        <activity
            android:name="com.rentservice.my_application.Screens.SignUpScreen"
            android:exported="false" android:screenOrientation="portrait"/>
        <activity
            android:name="com.rentservice.my_application.Screens.LoginScreen"
            android:exported="false" android:screenOrientation="portrait"/>
        <activity
            android:name="com.rentservice.my_application.Screens.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.My_Application">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>